

<div class="wrapper">
  <app-navbar></app-navbar>
<div class="searchbuy">
    <fieldset class="border p-2"  >
        <legend class="w-auto"  >Stock Store</legend>
  <form (submit)="findSym($event,findsym)" #findsym='ngForm'>
  <input title="Enter a company's keyword(Apple,Microsoft,Tesla) to find its stock symbol"type ="text" name="sym" id="symid" [ngModel]="symid" required #sym="ngModel">
  <button>Find Symbol</button>
  
  
  </form>
<div *ngIf="searching">
<div *ngIf="notfound">Symbol not found!</div>
<div *ngIf="!notfound">
<div *ngFor="let sym of sym_data">
  <h3>Symbol: {{sym.symbol}}</h3>
  <h4>Security Name: {{sym.securityName}}</h4>
  <button (click) = "symSubmit(sym.symbol,sym.securityName)">Find Current Buy Price?</button>
</div>
</div>

</div>

<div *ngIf="buystock">
 <fieldset class="border p-2" >
   <legend class="w-auto" >Purchase Stock</legend>
  <form (submit)="buyStock($event,buyForm)" #buyForm='ngForm' >
  <p>Symbol: {{stock.symbol}}</p>
  <p>Buyprice: {{stock.buyprice|currency}}</p>
  <p>Amount: <input type="number" name="amount" id="amountid"
    [ngModel]="stock.amount"
    required
    #amount="ngModel">
    <input type="hidden" name="sname" id="secnameid" value="{{secname}}" [ngModel]="secname" #sname="ngModel">
    <input type="hidden" name="buyprice" id="priceid" value="{{stock.buyprice}}" [ngModel]="stock.buyprice" #buyprice="ngModel">
    <input type="hidden" name="symbol" id="symbolid"  value="{{stock.symbol}}" [ngModel]="stock.symbol" #symbol="ngModel">
    <button>Buy This Stock</button>
  </form>
  </fieldset>
</div>
</fieldset>
</div>
<div  class="info">
<div class="listing" *ngIf="!sellingstock">
  <fieldset class="border p-2" >
    <legend class="w-auto" >Personal Info</legend>
     
    <h1>Hello, {{currentuser.firstname}} </h1>
    <h2>Money Available: {{currentuser.money|currency}}</h2>
    <h2>Total Profit/Score: {{currentuser.score|currency}}</h2>
   <div *ngIf="mystocks.length !==0">
    <H2>My Current Stocks:</H2>
    <table>
        <tr>
          <th>Symbol</th>
          <th>Securities Name</th> 
          <th>Shares/Amount</th>
          <th>BuyPrice</th>
          <th>Actions</th>

        </tr>
    <tr *ngFor="let mystock of mystocks">
    
      <td>{{mystock.symbol}}</td>
      <td>{{mystock.sname}} </td> 
      <td>{{mystock.amount}}</td>
      <td>{{mystock.buyprice|currency}}</td>
      <td><button (click)="onSell(mystock)">Sell</button></td>
    </tr>
    </table>
   </div>
  </fieldset>
    </div>
   
   
   
   
    <div class="selling" *ngIf="sellingstock">
        <fieldset class="border p-2" >
            <legend class="w-auto" >Selling Stock</legend>
      <form #sellForm='ngForm' (submit)="sellmyStock($event,sellForm)">
         <h2>Stock: {{sellstock.symbol}}</h2>
         <h4>Buy Price: {{sellstock.buyprice}}</h4>
         <h4>Selling Price: {{stock.buyprice}} </h4>
         <h4>Number of Shares: {{sellstock.amount}}</h4>
         <input type="number" name="amount" id="amountid" [ngModel]="amount" #amount="ngModel" placeholder="{{sellstock.amount}}">
         <input type="hidden" value="{{sellstock.symbol}}" name="symbol" [ngModel]="sellstock.symbol" #symbol="ngModel">
         <input type="hidden" value="{{stock.buyprice}}" name="sellprice" [ngModel]="stock.buyprice" #sellprice="ngModel">
         <input type="hidden" value="{{sellstock._id}}" name="id" [ngModel]="sellstock._id" #id="ngModel">
         <Button>Sell Stock</Button>
      
        </form>
      </fieldset>
        </div>
      </div>
  </div>
  <div class="backdrop" [ngStyle]="{'display':displaybuy}"></div>
  <div class="modal" tabindex="-1" role="dialog" id="buyModal" [ngStyle]="{'display':displaybuy}" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buying Stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"(click)="onCloseHandledbuy()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{msgstr}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"(click)="buyConfirm()" >Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="onCloseHandledbuy()" >No</button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{'display':displayiv}"></div>
  <div class="modal" tabindex="-1" role="dialog" id="ivModal" [ngStyle]="{'display':displayiv}" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Validation Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"(click)="onCloseHandlediv()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{invalidstr}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="onCloseHandlediv()" >Ok</button>
        </div>
      </div>
    </div>
  </div>

  <div class="backdrop" [ngStyle]="{'display':displaysell}"></div>
  <div class="modal" tabindex="-1" role="dialog" id="sellModal" [ngStyle]="{'display':displaysell}" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selling Stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"(click)="onCloseHandledsell()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{msgstr}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"(click)="sellConfirm()" >Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="onCloseHandledsell()" >No</button>
        </div>
      </div>
    </div>
  </div>