.login input, button{
    display: block;
}
.login {
    height:400px;
    width: 400px;
    display:inline-block;
}
.register {
    height:300px;
    width: 300px;
    display:inline-block;

vertical-align:top;
}
.register input, button{
    display: block;
}
