<p><a [routerLink]="['/home']">Home</a>   <a [routerLink]="['/rules']">Rules</a><a [routerLink]="['/leaderboard']">Leaderboard</a>  <a [routerLink]="['/history']">Stock History</a>    <a href (click)="logOff($event)">Log Off</a>  </p>
<h1>Welcome to Funny Money</h1>
<h4>The Name of the Game is "FunnyMoney"..... Well is it a game? is it a stock Buying/Selling Simulator? Is it Stock Trading "Training Wheels?" Yes, Yes and Yes...</h4>

<h4>You get $100,000 to invest in any NASDAQ/Dow Jones trading symbols you wish. At the end of each trading day (4pm EST), the gains and losses of your stock portfolio are tallied up and your "Score" is your net profit.</h4> 

<h4>FunnyMoney uses Actual, Realtime, Stock Buying/Selling Prices, The only difference is the money is not real, so you invest strictly for fun/entertainment purposes. </h4>
<h4>You may sell your current stock at any time to increase your money holdings and purchase any other stock you wish. </h4>
<h4>Check the "LeaderBoard" section to see how you rank next to your stock trading peers. </h4>
<h4>Check the "History" section to see the historical behavior of each of the stocks in your portfolio. </h4> 

<h4>Disclaimer: FunnyMoney "Money" has no actual value and the game is played strictly for entertainment purposes. </h4>