<p><a [routerLink]="['/home']">Home</a>   <a [routerLink]="['/rules']">Rules</a><a [routerLink]="['/leaderboard']">Leaderboard</a>  <a [routerLink]="['/history']">Stock History</a>    <a href (click)="logOff($event)">Log Off</a>  </p>
<h1>Welcome to Funny Money</h1>
<h4>The Name of the Game is "FunnyMoney"..... Well is it a game? is it a stock Buying/Selling Simulator? Is it Stock Trading "Training Wheels?" Yes, Yes and Yes...</h4>

<h4>You get $100,000 to invest in any NASDAQ/Dow Jones trading symbols you wish. At the end of each trading day (4pm EST), the gains and losses of your stock portfolio are tallied up and your "Score" The diffference between what you bought the stock at, and what it closed at.</h4> 

<h4>FunnyMoney uses Actual, Realtime, Stock Buying/Selling Prices, The only difference is the money is not real, so you invest strictly for fun/entertainment purposes. </h4>
<h4>You may sell your current stock at any time to increase your money holdings and purchase any other stock you wish. </h4>
<h4>Check the "LeaderBoard" section to see how you rank next to your stock trading peers. </h4>
<h4>Check the "History" section to see the historical behavior of each of the stocks in your portfolio, Including graphs of your daily gains and losses per stock, and daily closing graphs. </h4> 
<h4>Disclaimer: FunnyMoney "Money" has no actual value and the game is played strictly for entertainment purposes. </h4>
<h2>To get started, click "Proceed to Home", to go to your homepage, then simply begin by entering a company keyword(i.e. "Microsoft or "Apple") in the "find symbol" Input box</h2>
<button (click)="goHome()">Proceed to Home</button>